*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    /* font-size: 1.5em; */
    font-size: 24px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: orange;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A); 
}
.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'l c r';
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A); 
}
.left{ grid-area: l; }
.right{ grid-area: r; }
.content{ grid-area: c;}
td{    
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A); 
    text-align: center;
    width: 16.6%;    
}
th{
    background-color: #3A6073;    
    /* width: 17%; */
    color: white;    
    height: 35px;
    font-size: 0.8em;
    width: 16.6%;
}
input{
    color: white;
    width: 100%;
    height: 17px;            
}
.btnSave{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    color: lightgreen;
    background-color: #1f2e2e;
    border: 1px solid grey;
}
.btnDelete{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    color: lightcoral;   
    background-color: #1f2e2e; 
    border: 1px solid grey;
}
.styleInput{
    margin: 0;
    padding: 0px 0px 0px 5px;
    color: white;
    background-color: #16222A;
    width: 100%;
    height:35px;
    border: none;
}